 /*.supercontainer {
    max-width: 1000px;
    margin: auto;
    }*/
    body {
        margin:0 auto;
    }
    a:link {
    text-decoration: none;
    color:#D3D3D3;
    }
    a:visited{
    color:#D3D3D3;
    }
    a:hover{
        color: black;
    }
    input[type="text"]
    {
        font-size:17px;
    }
    /*a:visited{
    color:#D3D3D3;
    }*/
    .contain {
        /*margin-right: 120px;
    margin-left: 120px;*/
    margin-left: auto;
    margin-right: auto;
    width:1210px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    overflow-x:hidden;"
    }
    .whitebkgnd {
        background-color: white;
        height: 500px;
        width: 300px;
        position: absolute;
        display: inline;
    }
    #footimg1 {
        display: inline;padding-top: 70px;
    }
    #image{
        background-image: url("http://csci571.com/hw/hw3/images/lawyer.jpg");
        position: relative;
        height:712px;
        width:1210px;
        background-clip: padding-box;
        background-position:-41px -1px;
        background-size:1320px 713px;
        background-repeat: no-repeat;

    }
    .grid {
        min-height: 500px;
        width: 300px;
        margin-left: 1px;
        margin-top: -114%;
        position: absolute;
        z-index: 0;
        opacity: 0.1;  
    }
    #grid1{
        background-image: url("http://csci571.com/hw/hw3/images/grid.png");
        position: relative;
        min-height: 500px;
        min-width: 300px;
        background-position:left;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        opacity:0.1;
    }
    .lorem {
        font-size:smaller;
        padding-top: 10px;
        color:#858588;
        margin:0;
        line-height: 6px;
        padding-top: 5px;
    }
    #grid2{
        background-image: url("http://csci571.com/hw/hw3/images/grid.png");
        position: relative;
        min-height: 500px;
        min-width: 300px;
        background-position:left;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        opacity:0.2;
    }
    #grid3{
        background-image: url("http://csci571.com/hw/hw3/images/grid.png");
        position: relative;
        min-height: 500px;
        min-width: 300px;
        background-position:left;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        opacity:0.1;

    }
    .formclass {
    position: absolute;
    margin-left: 6.5%;
    max-width: 22%;
    margin-top:14%;
    padding: 40px;
    background-color: #003960;
    height:45%;
    }
    #superDiv {
        position: relative;
    }
    #canon {
    background-image: url("http://csci571.com/hw/hw3/images/notebook.jpg");
    width: 1210px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 900px;
    }
    #blue {
        width:1210px;
        height:450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        background-color: #003960;
        opacity:0.8;
    }
    #cantext {
        width: 1210px;
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        margin-top: 874px;
    }
    #textholder
    {
    color: black;
    border: none;
    width: 100%;
    opacity: 1.0;
    height: 14%;
    cursor:text;
    }
    #foot
    {
        background-color: #1c2431;
        height: 300px;
        margin-top: 1350px;
        width: 1210px;
        position: absolute;
    }
    .button {
    background-color: #FCE500;
    color: black;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    width: 53%;
    opacity: 1.0;
    height: 12%;

    }
    .button:hover {
    background-color: black;
    color: white;
    }
    #button2 {
    background-color: #FCE500;
    color: black;
    margin-left: 500px;
    border: none;
    cursor: pointer;
    width: 140px;
    opacity: 1.0;
    height: 40px;
    }
    #button2:hover {
        background-color: black;
        color: white;
    }
    #button3 {
    background-color: #073B5E;
    color: white;
    text-align: center;
    margin-left: 10px;
    border: none;
    cursor: default;
    width: 140px;
    opacity: 1.0;
    height: 50px;
    margin-top: 41px;
    }
    #button3:hover {
        background-color: #212a3d;
    color: white;
    }
    #footbizopt {
        padding-top: 80px;
        color:white;
        font-size: small;
        z-index: -1;
    }
    .parallax1 {
    /* The image used */
    background-image: url('http://csci571.com/hw/hw3/images/glasses.png');
    height:800px;
    filter: grayscale(100%);
    width: 1210px;
    z-index:-1;
    box-sizing: border-box;
    position:absolute;
    /*display: block;*/
    /*margin-left: auto;
    margin-right: auto;*/
    min-height:900px;
    /*transition-property: background-position;
    transition: 0s linear;*/
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: -385px 38px;
    background-repeat: no-repeat;
    background-size: 1974px 974px;
    /*background-color: grey;*/
    opacity:0.2;
}
    .greyoverlap {
    /* The image used */
    width: 1210px;
    /*background-color: red;*/
    position:absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height:900px;
    background-attachment: fixed;
    background-position: -385px 38px;
    background-repeat: no-repeat;
    background-size: 1974px 974px;
    background-color: #F4F4F4;
    background-blend-mode: lighten;
    opacity:0.5;
}
#footadd {
    color:silver;font-size: x-small;padding-bottom: 30px;font-weight: lighter;
}
    .plans {
    width: 1180px;
    background-color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    min-height:900px;
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}